<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482946304117-vglocojrbhhp172pagp4c27939970a1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482946304117-vglocojrbhhp172pagp4c27939970a1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482946304117-4be75qljmooeauik3htbv9ovdj28cppe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDc7gTG_UYOfpNZt0Y3420TgxeghqDGvTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>482946304117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nisb.connect</string>
	<key>PROJECT_ID</key>
	<string>nisb-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>nisb-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482946304117:ios:662484322830d5ffb5d03c</string>
	<key>DATABASE_URL</key>
	<string>https://nisb-connect.firebaseio.com</string>
</dict>
</plist>